__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.venv/
venv/
.env
*.log
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
docs/build/*.aux
docs/build/*.bbl
docs/build/*.bcf
docs/build/*.blg
docs/build/*.log
docs/build/*.out
docs/build/*.toc
